
<table class="board">
    <tr ng-repeat="x in getSize() track by $index">
        <td ng-repeat="x in getSize() track by $index">

            <table class="box">
                <form> 
                    
                    <tr ng-repeat="x in getSize() track by $index">
                        <td ng-repeat="x in getSize() track by $index">
                            <p>{{x}}</p>
                            <p>{{y}}</p>
                            <input type="text" id="space" maxlength="1" placeholder="?" size="1" value="" onclick="spaceClicked()"/>
                        </td>
                    </tr>
    
                </form>
            </table>

        </td>
    </tr>

</table>

<p>Select size:</p>
<select id="selectSize" ng-model="size" ng-change="updateBoard(size)" data-ng-options="option for option in sizeOptions">
    <!-- <option value="">Select size:</option> -->
</select>
